@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sometype+Mono&display=swap");

:root {
  --maincolor: #021024;
  --secondcolor: #052659;
  --thirdcolor: #5483b3;
  --fourthcolor: #7da0ca;
  --fithcolor: #c1e8ff;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* make it look decent enough */
  background: #232323;
  color: white !important;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Sometype Mono", monospace !important;
  font-size: 1.2rem !important;
}

/* NAVBAR */
#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  max-width: 10vh;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: var(--fithcolor);

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: var(--thirdcolor);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  /* background: #232323; */
  background: #cdcdcd;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  height: 110vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: var(--maincolor);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translate(-100%, 0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: translate(0, 0);
}

/* separador */

.separador {
  height: 1rem;
  background-color: var(--thirdcolor);
}

/* main */

.main {
  min-height: 100vh;
  background-color: var(--maincolor);
}

h1 {
  color: white !important;
}

/* TITULO */
.title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

/* QUE HACEMOS */
.queHacemos {
  background-image: linear-gradient(
    to bottom,
    var(--maincolor),
    var(--thirdcolor)
  );
}
.col-md-6.text-center a.btn-primary {
  background-color: var(--thirdcolor);
  border-color: var(
    --thirdcolor
  ); /* Cambia el color del borde si es necesario */
  color: white; /* Cambia el color del texto para que sea visible en el fondo */
}

.col-md-6.text-center a.btn-primary:hover {
  background-color: var(--fourthcolor);
  border-color: var(--thirdcolor);
  color: white;
}

/* ABOUT US */
.aboutUs {
  background-color: var(--thirdcolor);
}

.cardNuestra {
  background-color: var(--maincolor) !important;
}

/* PRICING */

.pricing {
  background-color: var(--secondcolor);
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}
.container .services {
  position: relative;
  width: 120%;
  height: 120%;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.container .services .content {
  padding: 20px;
  text-align: center;
  transform: translateY(0); /* Eliminamos la transformación en Y */
  opacity: 1; /* Establecemos la opacidad a 1 */
  transition: none; /* Eliminamos la transición */
}

.container .services .content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.container .services .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/* FORM DE CONTACTO */
.container {
  width: 80%;
  padding: 20px;
}

.container h2 {
  width: 100%;
  color: var(--fithcolor);
  text-align: center;
  margin-bottom: 10px;
}

.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: var(--fithcolor);
}
.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: var(--fourthcolor);
}
.container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--fithcolor);
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
  height: 100%;
}
.container .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}
.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #45f3ff;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}

.btn {
  margin-left: auto;
  margin-right: auto;
}

/* Footer */

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.containerServices {
  background-color: var(--secondcolor);
  position: relative;
  min-height: 90vh;
  /* background: #333 !important; */
  padding: 80px 40px;
  gap: 80px;
}

.cardService {
  position: relative;
  width: 350px;
  height: 180px;
  background: #333 !important;
  transition: 0.5s;
}

.cardService:hover {
  width: 600px; /* Cambia el ancho cuando se hace hover */
  height: 500px; /* Cambia la altura cuando se hace hover */
}

.cardService .linesService {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}

.cardService .linesService::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );
  animation: animate 4s linear infinite;
  /* animation-play-state: paused; */
}

.cardService:hover .linesService::before {
  animation-play-state: paused;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.cardService .linesService::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}

.cardService .imgBxService {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translateX(-50%);
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardService:hover .imgBxService {
  top: 25px;
  width: 200px;
  height: 200px;
}

.cardService .imgBxService::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    #ff3c7b,
    #ff3c7b,
    #ff3c7b,
    transparent
  );
  animation: animate2 6s linear infinite;
  /* animation-play-state: paused; */
}

.cardService:hover .imgBxService::before {
  animation-play-state: running;
}

@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.cardService .imgBxService::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}

.cardService .imgBxService img {
  position: absolute;
  width: 100px;
  z-index: 1;
  filter: invert(1);
  opacity: 0.5;
  transition: 0.5s;
}

.cardService:hover .imgBxService img {
  opacity: 1;
}

.cardService .contentService {
  position: absolute;
  width: 100%;
  height: 100%;
  /* align-items: flex-end; */
  overflow: hidden;
}

.cardService .contentService .detaisService {
  padding: 30px 20px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(115px);
}

.cardService :hover .contentService .detaisService {
  transform: translateY(0px);
}

.cardService .contentService .detaisService h2 {
  font-size: 1.5em;
  font-weight: 500;
  color: #45f3ff;
  line-height: 1.2em;
}

.cardService .contentService .detaisService p {
  color: #fff;
  font-size: 0.7em;
  opacity: 0;
  transition: 0.5;
}

.cardService:hover .contentService .detaisService a {
  display: inline-block;
  padding: 8px 15px;
  background: #45f3ff;
  color: #292929;
  margin-top: 10px;
  font-weight: 500;
  text-decoration: none;
  opacity: 0;
  transition: 0.5s;
}

.cardService:hover .contentService .detaisService p,
.cardService:hover .contentService .detaisService a {
  opacity: 1;
}
